/* =============
    Base
============= */
body{
    // background-color: $grey;

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
}

.box {
    background-color: #1b98e08f; 
    width: 100%;
    height: 67px;
}


