/* =============
    Base
============= */
body{
    // background-color: $grey;

    ul{
        margin: 0;
        padding: 0;
    
        li{
            list-style: none;
        }
    }
}
footer {
    color: #10002B ;
}
button {
    text-align: center;
}
hero {

}
explore {
    grid-template-areas: auto;
    grid-template-columns: 2;
    grid-template-rows: 3;
}
button {
    background-color: #10002B;
}
