/* =============
    Typography
============= */

h1{
    font-family: crimson text, Serif;
    font-size: 51px;
    text-align: center;
}
h2{ font-family: crimson text, Serif;
    font-size: 40px;
    text-align: center;
}
h3{
    font-family: crimson text, serif;
    font-size: 21px;
    text-align: center;
}
p{
    font-family: inter, sans-serif;
    font-size: 18px;
    text-align: center;
    margin-left: 32px ;
    margin-right: 32px;
}
aside{
    text-align: right;
    margin-right: 100px;
}
li{
    text-align: left;
    margin-left: 100px;
}




