/* =============
    explore
============= */

.columns {
    column-count: 2;
    margin-top: 24px;
    margin-bottom: 52px;
    margin-left: 16px;
    margin-right: 16px;
    
}

.ninefour {
    padding-left: 47px;
    padding-right: 47px;
    
}