/* =============
    explore
============= */

.columns {
    column-count: 2;
    margin-top: 24px;
    margin-bottom: 52px;
    padding-left: -80px;
}

.ninefour {
    padding-left: 47px;
    padding-right: 47px;
    margin-left: 55px;
    
}

.columns
.ninefour {
    
    
    
    margin-right: 16px;
}