/* =============
    hero
============= */

.hero {
    text-align: center;
    width: 100%;
}

.bigpadding {
    column-count: 3;
    padding-left: 75px;
    padding-right: 75px;
    
}

.padding {
    padding-right: 50px;
    padding-left: 50px;
    text-align: center;
}