/* =============
    Related
============= */

.centerimg {
display: block;
  margin-left: auto;
  margin-right: auto;
  padding-top: 24px;
    
}

.bigbox {
    display: block;
    margin: auto;
    width: 239px;
    height: 420px;
    background-color: #E1F1F4;
    margin-top: 24px;
}

.rightbutt {
    float: right;
    
    
    
}
