/* =============
    Footer
============= */

.footer {
    text-align: center;
    margin-top: 34px;
    height: 99px;
    background-color: #1b98e081; 
    padding-top: 24px;
    font-size: 30px;
    
}

.foot {
    background-color: #1b98e081; 
    text-align: center;
    padding-bottom: 24px;
    font-kerning: 100px
}