/* =============
    Header
============= */

.logo {
    
    
}

.search {
    float: right;
    padding-right: 40px;
    padding-top: 40px;
    font-size: 35px;
    font-weight: 2px;
}
.bars {
    float: left;
    padding-left: 40px;
    padding-top: 40px;
    font-size: 35px;
}


    
